.advantages {
	@media screen and (min-width: 768px) {
		display: flex;
		flex-wrap: wrap;
	}

	@media screen and (min-width: 768px) and (max-width: 1199px) {
		margin: -15px;
	}
}

.advantages-item {
	@media screen and (max-width: 767px) {
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}

	@media screen and (min-width: 768px) and (max-width: 1199px) {
		width: calc((100% - 30px * 2) / 2);
		margin: 15px;
	}

	@media screen and (min-width: 1200px) {
		width: calc((100% - 30px * 3) / 4);

		&:not(:nth-child(4n)) {
			margin-right: 30px;
		}
	}
}

.advantages-icon-place {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;

	width: 100%;
	height: 120px;
	background-color: $secondaryBackgrounColor;
}

.advantages-icon {
	width: 70px;
	height: 70px;
}
.advantages-description {
	padding-top: 30px;
}
.advantages h3 {
	margin-top: 0;
	margin-bottom: 10px;

	@include fontBasicStyles(14px, 1.14, 700);
	text-transform: uppercase;

	color: $primaryTitleColor;

	@media screen and (max-width: 767px) {
		text-align: center;
	}
}

.advantages p {
	margin: 0;

	font-weight: 400;
	font-size: 14px;
	line-height: 1.7;

	color: $primaryTextColor;
}
