.contacts-icon {
	margin-right: 10px;
	fill: currentColor;
}

.icon-envelope {
	@media screen and (max-width: 1199px) {
		width: 14px;
		height: 10px;
	}

	@media screen and (min-width: 1200px) {
		width: 16px;
		height: 12px;
	}
}

.icon-smartphone {
	@media screen and (max-width: 1199px) {
		width: 10px;
		height: 14px;
	}

	@media screen and (min-width: 1200px) {
		width: 10px;
		height: 16px;
	}
}
