.footer-form-block {
	@media screen and (max-width: 1199px) {
		text-align: center;
	}
	@media screen and (min-width: 1200px) {
		margin-left: auto;
	}
}

.subscribe-form {
	@media screen and (min-width: 1200px) {
		display: flex;
	}
}

label.call-to-action {
	display: block;
}

.footer-email-input {
	display: block;

	width: 100%;
	max-width: 450px;
	margin: 0 auto 20px auto;

	padding: 15px;
	border: 1px solid;
	border-radius: 4px;
	border-color: $primaryTextColor;

	@include fontBasicStyles(16px, 1.25);

	color: $basicWhiteColor;

	background-color: transparent;

	outline: none;

	transition: border-color $primaryTransition;

	&::placeholder {
		@include fontBasicStyles(16px, 1.25);

		color: $primaryTextColor;
	}

	&:focus {
		border-color: $accentColor;
	}

	@media screen and (min-width: 1200px) {
		margin-right: 12px;
	}
}
