.contacts {
	@media screen and (min-width: 1200px) {
		display: flex;
	}
}

.contacts-item:not(:last-child) {
	@media screen and (max-width: 767px) {
		margin-bottom: 16px;
	}

	@media screen and (min-width: 768px) and (max-width: 1199px) {
		margin-bottom: 10px;
	}

	@media screen and (min-width: 1200px) {
		margin-right: 30px;
	}
}

.contacts-item {
	@media screen and (max-width: 767px) {
		text-align: center;
	}
}

.contacts-item a {
	color: $primaryTextColor;

	transition: color $primaryTransition;

	&:hover,
	&:focus {
		color: $accentColor;
	}

	@media screen and (max-width: 767px) {
		@include fontBasicStyles(18px, 1.16, 500, 0.02em);
	}

	@media screen and (min-width: 768px) {
		@include fontBasicStyles(12px, 1.16, 500, 0.02em);
	}

	@media screen and (min-width: 1200px) {
		@include fontBasicStyles(14px, 1.14, 500, 0.02em);
		display: inline-flex;
		align-items: center;
		padding-top: 32px;
		padding-bottom: 32px;
	}
}
