.modal-title {
	margin: 0;
	margin-bottom: 12px;

	@include fontBasicStyles(20px, 1.15, 700);

	text-align: center;

	color: $primaryTitleColor;
}

.modal-form-item {
	display: block;
	margin-bottom: 10px;
}

.label-title {
	display: block;
	margin-bottom: 4px;

	@include fontBasicStyles(12px, 1.16, 400, 0.01em);

	color: $primaryTextColor;

	transition: color $primaryTransition;

	.modal-form-item:focus-within & {
		color: $accentColor;
	}
}

.modal-form-field {
	display: block;
	width: 100%;
	height: 40px;

	padding: 11px 11px 11px 40px;

	font: inherit;

	border: 1px solid;
	border-color: rgba(33, 33, 33, 0.2);
	border-radius: 4px;

	outline: none;

	transition: border-color $primaryTransition;

	.modal-form-item:focus-within & {
		border-color: $accentColor;
	}
}

.icon-wrap {
	position: relative;
}

.modal-form-icon {
	position: absolute;
	top: 50%;
	left: 12px;
	transform: translateY(-50%);

	height: 18px;
	width: 18px;

	fill: inherit;

	transition: fill $primaryTransition;

	.modal-form-item:focus-within & {
		fill: $accentColor;
	}
}

.comment-item {
	margin-bottom: 20px;
}

.comment-field {
	resize: none;

	padding: 12px 16px;
	height: 120px;

	&::placeholder {
		@include fontBasicStyles(12px, 1.16, 400, 0.01em);

		color: rgba(117, 117, 117, 0.5);
	}
}

.agreement-block {
	display: flex;
	justify-content: center;
}

.agreement-field {
	position: relative;

	display: inline-block;
	margin-bottom: 30px;
	padding-left: 25px;

	color: $primaryTextColor;

	@media screen and (max-width: 1199px) {
		@include fontBasicStyles(12px, 1.16);
	}

	@media screen and (min-width: 1200px) {
		@include fontBasicStyles(14px, 1.71);
	}
}

.agreement-link {
	display: inline-block;
	position: relative;
	color: $accentColor;

	&::after {
		content: " ";
		position: absolute;
		left: 0;

		width: 100%;
		height: 1px;
		background-color: $accentColor;

		@media screen and (max-width: 1199px) {
			bottom: -1px;
		}
		@media screen and (min-width: 1200px) {
			bottom: 5px;
		}
	}
}
