.mobile-menu-block {
	@media screen and (max-width: 767px) {
		display: none;
	}

	@media screen and (min-width: 768px) and (max-width: 1199px) {
		margin-left: auto;
	}

	@media screen and (min-width: 1200px) {
		margin-left: auto;
	}
}

.page-nav {
	display: flex;
	align-items: center;

	@media screen and (min-width: 768px) and (max-width: 1199px) {
		margin-right: 86px;
	}

	@media screen and (min-width: 1200px) {
		margin-right: 305px;
	}
}

.site-nav {
	display: flex;

	li:not(:last-child) {
		margin-right: 50px;
	}
}

.site-nav a {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;

	@include fontBasicStyles(14px, 1.14, 500, 0.02em);

	color: $primaryTitleColor;

	transition: color $primaryTransition;

	&:hover,
	&:focus {
		color: $accentColor;
	}
}
