.header {
	border-bottom: 1px solid #ececec;

	@media screen and (max-width: 767px) {
		position: relative;
	}

	@media screen and (min-width: 768px) {
		.flexbox {
			display: flex;
			align-items: center;
		}
	}
}
