.header {
	border-bottom: 1px solid #ececec;

	@media screen and (min-width: 768px) {
		.flexbox {
			display: flex;
			align-items: center;
		}

		.mobile-menu-block {
			margin-left: auto;
		}
	}
}
