.portfolio-filter {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 25px;

	@media screen and (min-width: 768px) {
		justify-content: center;
		margin-bottom: 30px;
	}

	@media screen and (min-width: 1200px) {
		justify-content: center;
		margin-bottom: 34px;
	}
}

.portfolio-filter li:not(:last-child) {
	margin-right: 8px;
}

@media screen and (max-width: 767px) {
	.portfolio-filter li {
		margin-bottom: 15px;
	}
}

.portfolio-filter button {
	padding-top: 6px;
	padding-right: 22px;
	padding-bottom: 6px;
	padding-left: 22px;
	border: transparent;
	border-radius: 4px;

	@include fontBasicStyles(16px, 1.62, 500);

	color: $primaryTitleColor;
	background-color: $secondaryBackgrounColor;

	cursor: pointer;

	transition: color $primaryTransition, background-color $primaryTransition, box-shadow $primaryTransition;

	&:hover,
	&:focus {
		color: $basicWhiteColor;

		background-color: $accentColor;
		box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	}
}
