.portfolio-projects {
	display: flex;
	flex-wrap: wrap;
}

.portfolio-card {
	width: calc((100% - 30px * 2) / 3);
	margin-right: 30px;
	margin-bottom: 30px;

	box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.16);
	cursor: pointer;
	transition: box-shadow $primaryTransition;

	&:nth-child(3n) {
		margin-right: 0;
	}

	&:nth-last-child(-n + 3) {
		margin-bottom: 0;
	}

	&:hover,
	&:focus-within {
		box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
	}
}

.portfolio-project-information {
	padding: 20px 24px;

	border-right: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	border-left: 1px solid #eeeeee;
}

.portfolio-project-information h2 {
	margin-top: 0;
	margin-bottom: 4px;

	@include fontBasicStyles(18px, 2, 700, 0.06em);

	color: $primaryTitleColor;
}

.portfolio-project-information p {
	margin-top: 0;
	margin-bottom: 0;

	font-weight: 400;
	font-size: 16px;
	line-height: 1.87;

	color: $primaryTextColor;
}
