.section.no-padding-top {
	@media screen and (max-width: 1199px) {
		display: none;
	}
}
.services {
	display: flex;
	flex-wrap: wrap;
}

.services-item {
	position: relative;
	width: calc((100% - 30px * 2) / 3);

	&:not(:nth-child(3n)) {
		margin-right: 30px;
	}
}

.services h3 {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

	margin: 0;
	padding-top: 27px;
	padding-bottom: 27px;

	@include fontBasicStyles(14px, 1.14, 700);

	text-transform: uppercase;
	text-align: center;

	color: $basicWhiteColor;
	background-color: rgba(47, 48, 58, 0.8);
}
