@font-face {
	font-family: "Raleway";
	src: url(../fonts/raleway-bold.ttf) format("ttf"), url(../fonts/raleway-bold.woff) format("woff");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url(../fonts/roboto-regular.ttf) format("ttf"), url(../fonts/roboto-regular.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url(../fonts/roboto-medium.ttf) format("ttf"), url(../fonts/roboto-medium.woff) format("woff");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url(../fonts/roboto-bold.ttf) format("ttf"), url(../fonts/roboto-bold.woff) format("woff");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url(../fonts/roboto-black.ttf) format("ttf"), url(../fonts/roboto-black.woff) format("woff");
	font-weight: 900;
	font-style: normal;
}
