html {
	box-sizing: border-box;
}

* {
	&::before,
	&::after {
		box-sizing: inherit;
	}

	&:focus {
		outline-color: $accentColor;
		outline-offset: 2px;
		outline-style: solid;
	}
}

body {
	font-family: $primaryFont;
	letter-spacing: 0.03em;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}
